.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background: wheat;
  border: 5px solid orange;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
}

.inner-container h2 {
  transform: translateY(-50%);
}
