.container {
  background: yellow;
  width: 100vw;
  height: 100vh;
}

h1 {
  margin: 0;
  margin-bottom: 5rem;
}

ul {
  display: flex;
  flex-direction: column;
}

i {
  padding: 20px;
  font-weight: 500;
}
